.LogoSearch {
  display: flex;
  gap: 0.75rem;
  align-items: center;;
}
.Search {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 12px;
  position: relative;
}
.Search>input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
}
.s-icon {
  position: absolute;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #45a29e;
  border-radius: 5px;
  padding: 2px;
  color: white;
}

.logo{
  width: "47px";
  height: "39px";
}
